<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Optimus Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="icon" href="/favicon.ico" sizes="any"> <!-- Fallback/universal support -->
    <link rel="icon" type="image/svg+xml" href="/safari-pinned-tab.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#ffffff">

    <%= render Favicon::Component.new %>

    <%= javascript_include_tag :admin, defer: true %>
    <%= stylesheet_link_tag :admin, "data-turbo-track": "reload" %>
  </head>

  <body class="admin">
    <%= render Admin::NavBar::Component.new(environment: Rails.env) %>
    <%= render Admin::InterfaceNotification::Component.new(flash:) %>
    <%= yield %>
  </body>
</html>
